{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
    <h1>Accounts</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Account Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Details</th>

            </tr>

            {% for accountrequest in accountrequests %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ accountrequest.name }}</td>
                    <td>{{ accountrequest.email }}</td>
                    <td>{{ accountrequest.mobile }}</td>
                    <td>{{ accountrequest.details }}</td>

                </tr>

            {% endfor %}
        </table>

    </div>


{% endblock %}