{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<h1>Accounts</h1>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Approval Status</th>
            <th>Action</th>

        </tr>

        {% for accountrequest in accountrequests %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ accountrequest.username }}</td>
            <td>{{ accountrequest.email }}</td>
            <td>{{ accountrequest.mobile }}</td>
            {% if accountrequest.isApproved == 1 %}
            <td>Approved</td>
            {% else %}
            <td>Waiting For Approval</td>
            {% endif %}
            <td>
                <a href="" class="btn btn-success">Approve</a>
                <a href="" class="btn btn-danger">Delete</a>
            </td>
        </tr>

        {% endfor %}
    </table>

</div>


{% endblock %}