{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<h1>Archive types</h1>
                <form class="form-inline" method="post" action="/addarchivetype">
                 <h4>Add New Archive Type</h4>
                <input type="text" name="archivetype" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Enter Archive Type">
                <button type="submit" class="btn btn-success">Add New</button>
                </form>
                <table class="table table-bordered table-striped">

                            <tr>
                                <th>Archive ID</th>
                                <th>Archive Type</th>
                                <th>Action</th>

                            </tr>

                            {% for archivetype in archivetypes %}
                           <tr>
                                <td>{{ loop.index }}</td>

                               <td>{{ archivetype['type'] }}

                             <td><a href="{{ url_for('deletetype', atype =archivetype['type']) }}" class="btn btn-danger" role="button">Delete</a></td>
                           </tr>

                        {% endfor %}
                    </table>
{% endblock %}