{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<h1>Fund Requisition</h1>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Client ID</th>
            <th>Amount</th>
            <th>Date</th>

        </tr>

        {% for requisition in requisitions %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ requisition.itsaccno }}</td>
            <td>{{ requisition.amount }}</td>
            <td>{{ requisition.reqdate }}</td>

        </tr>

        {% endfor %}
    </table>

</div>


{% endblock %}