{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<h1>Fund Requisitionsh</h1>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>ITS Account</th>
            <th>Ammount</th>
            <th>Date</th>
            <th>Approval Status</th>
            <th>Action</th>

        </tr>

        {% for requisition in requisitions %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ requisition.itsaccno }}</td>
            <td>{{ requisition.amount }}</td>
            <td>{{ requisition.reqdate }}</td>
            {% if requisition.isApproved == 1 %}
            <td>Approved</td>
            {% else %}
            <td>Waiting For Approval</td>
            {% endif %}
            <td>
                <a href="" class="btn btn-success">Approve</a>
                <a href="" class="btn btn-danger">Delete</a>
            </td>
        </tr>

        {% endfor %}
    </table>

</div>


{% endblock %}