.idea
idea/workspace.xml
.DS_Store
homedatas/*
marketmovers
item_details
get_item_details.js
webhook/kslbackend.db
ksl_news.txt
latest_news.txt
top_gainers.txt
top_losers.txt
__pycache__
sources/
venv/
gainer_loser/gainers.txt
gainer_loser/losers.txt
homedatas/market_summary.txt
homedatas/all_indexes.txt
homedatas/dse_data.txt
homedatas/cse_indexes.txt
marketmovers/by_trade.txt
marketmovers/by_value.txt
marketmovers/by_volume.txt
all_items_latest_update.txt
webhook/settings.py
webhook/.pytest_cache/
